<%- include('header') %>

<div class="ui grid">
 
    <div class="eight wide column">
        <form class="ui form segment" method="post" action="/list/create">
            <div class="field required">
                <label>指令名称</label>
                <input type="text" name="command">
            </div>
            <div class="field required">
                <label>描述</label>
                <input type="text" name="descripition">
            </div>
            <div class="field required">
                <label>内容</label>
                <textarea name="content" rows="15"></textarea>
            </div>
            <input type="submit" class="ui button" value="确定">
         </form>
    </div>
</div>

<%- include('footer') %>
