<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试页面</title>
</head>
<body>
    <div class="ui grid">
 
    <div class="eight wide column">
        <form class="ui form segment" method="post" action="/test">
            <div class="field required">
                <label>发送信息</label>
                <input type="text" name="command">
            </div>
            <input type="submit" class="ui button" value="确定">
         </form>
    </div>
</div>
</body>
</html>